.card:hover {
  transform: translateY(-0.5rem);
}

.tooltip-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 1.2rem;
}

.tooltip-title .card-title {
  margin: 0;
}

.tooltip-title:hover .tooltiptext {
  visibility: visible;
}

.tooltip-title .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.card {
  height: auto; /* Cambio a auto para que la altura se ajuste al contenido */
  width: 100%;
  max-width: 12.5rem;
  transition: transform 0.3s ease;
}

@media (max-width: 576px) {
  .card-container {
    flex: 0 1 calc(33.33% - 1rem); /* Tres tarjetas por fila en dispositivos muy pequeños */
    max-width: calc(33.33% - 1rem);
  }

  .card .card-body {
    margin-bottom: 0.3rem;
    margin-top: 0.1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-bottom: 0.2rem;
    padding-top: 0.1rem;
  }

  .tooltip-title,
  .tooltip-text,
  .card-text {
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }

  .btn {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
  }

  span {
    font-size: 0.5rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .card-container {
    flex: 0 1 calc(33.33% - 1rem); /* Tres tarjetas por fila en dispositivos pequeños */
    max-width: calc(33.33% - 1rem);
  }

  .tooltip-title,
  .tooltip-text,
  .card-text,
  .btn {
    font-size: 0.9rem;
  }

  span {
    font-size: 0.6rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .card-container {
    flex: 0 1 calc(33.33% - 1rem);
    max-width: calc(33.33% - 1rem);
  }

  .btn {
    font-size: 0.9rem;
  }
}

@media (min-width: 992px) {
  .btn {
    font-size: 1rem;
  }
}

a {
  text-decoration: none;
  color: white;
  margin-bottom: 0.625rem;
}

.btn {
  margin-top: 0.625rem;
}
