<div class="card text-center bg-success text-white mb-2 mr-2">
    <img *ngIf="usuario.perfil" [src]="'http://localhost:8080/uploads/' + usuario.perfil" class="card-img-top" alt="Perfil">   
    <div class="card-body">
      <a [routerLink]="['/about', usuario.nombre]"><h4 class="card-text">{{usuario.nombre}}</h4></a>
      <button type="button" *ngIf="!usuario.seguido" class="btn btn-primary rounded-pill w-100" (click)="seguir(username, usuario.nombre)">Seguir</button>
      <button type="button" *ngIf="usuario.seguido" class="btn btn-danger rounded-pill w-100" (click)="dejarDeSeguir(username, usuario.nombre)">Siguiendo</button>
    </div>
</div>
