<tr class="list-group-item"> 
  <div class="row">
      <td class="col">
        <div class="day-badge rounded">{{review.fecha | date:'d'}}</div>
      </td>
      <td class="col">
        <img src="{{peli.foto}}" class="img-thumbnail" width="100px" height="200px" alt="">
      </td>
      <td class="col">
        {{peli.titulo}}
      </td>
      <td class="col">
          {{peli.year}}
      </td>
      <td class="col-auto" *ngFor="let i of [1, 2, 3, 4, 5]">
        <i class="h4 text-warning" [ngClass]="getStars(i)"></i>
      </td>
      <td class="col">
        <i *ngIf="review.gustado == 1" class="h4 bi bi-heart-fill" style = "color:orange;"></i>
        <i *ngIf="review.gustado != 1" class="h4 bi bi-heart" style = "color:orange;"></i>
      </td>
      <td class="col">
        <button type="button" *ngIf="usuarioRuta == currentUsername" class="btn btn-danger" [routerLink]="['/review', currentUsername, peli.id]">Editar</button>
      </td>
  </div>
</tr>