<tr class="list-group-item"> 
  <div class="row">
    <td class="col position-relative text-center">
      <i class="bi bi-calendar2"></i>
      <span class="position-absolute top-50 start-50 translate-middle">{{review.fecha | date:'d'}}</span>
      <i *ngIf="review.esRevisionado" class="bi bi-repeat"></i>
    </td>
    <td class="col">
      <img src="{{peli.foto}}" class="img-thumbnail" width="100px" height="200px" alt="">
    </td>
    <td class="col titulo">
      {{peli.titulo}}
    </td>
    <td class="col year">
        {{peli.year}}
    </td>
    <td class="col-auto">
      <i *ngFor="let i of [1, 2, 3, 4, 5]" class="h4 text-warning iconos-estrellas" [ngClass]="getStars(i)"></i>
    </td>
    <td class="col">
      <i *ngIf="review.gustado == 1" class="h4 bi bi-heart-fill text-danger icono-corazon" ></i>
      <i *ngIf="review.gustado != 1" class="h4 bi bi-heart text-danger icono-responsivo d-none d-sm-inline-block"></i>
    </td>
    <td class="col">
      <button type="button" *ngIf="usuarioRuta == currentUsername" class="btn btn-success" [routerLink]="['/review', currentUsername, peli.id]">Editar</button>
    </td>
  </div>
</tr>