
    <form #userForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="usuario.nombre" disabled>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Correo</label>
                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="usuario.email" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="apodo">Apodo</label>
                    <input type="text" class="form-control" id="apodo" name="apodo" [(ngModel)]="usuario.apodo">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ubicacion">Ubicación</label>
                    <input type="ubicacion" class="form-control" id="ubicacion" name="ubicacion" [(ngModel)]="usuario.ubicacion">
                </div>
            </div>
            
            <div class="form-group">
                <label for="bio">Bio</label>
                <textarea class="form-control" id="bio" name="bio" [(ngModel)]="usuario.bio" required></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
        
    </form>