<div class="table-responsive">
    <table class="table table-hover table-dark table-striped">
      <thead>
          <tr>
              <th scope="col">Denunciante</th>
              <th scope="col">Denunciado</th>
              <th scope="col">Reseña</th>
              <th scope="col">Motivo</th>
              <th scope="col">Acciones</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let denuncia of denunciasPendientes">
              <td>{{denuncia.denunciante}}</td>
              <td><a [routerLink]="['/about', denuncia.denunciado]">{{denuncia.denunciado}}</a></td>
              <td id="textoDenuncia">{{denuncia.comentarioResena}}</td>
              <td id="textoDenuncia"><a data-bs-toggle="modal" data-bs-target="#motivoModal" (click)="motivo = denuncia.motivo">{{denuncia.motivo}}</a></td>
              <td><button type="button" class="btn btn-warning" (click)="rechazarDenuncia(denuncia.denunciante, denuncia.denunciado, denuncia.idResena)">Rechazar</button> <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#banModal" (click)="denunciado=denuncia.denunciado; denunciante=denuncia.denunciante; idResena = denuncia.idResena">Aceptar</button></td>
          </tr>
      </tbody>
    </table>
  </div>
