<div class="container">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Buscar usuarios" aria-label="Buscar usuarios" aria-describedby="button-addon2" [(ngModel)]="nombre" (keyup)="findUsuarios(nombre)">
        <button class="btn btn-primary" type="submit" id="button-addon2" (click)="findUsuarios(nombre)">Buscar</button>
    </div>
      
    <div class="row row-cols-md-3">
        <ng-container *ngFor="let usuario of usuarios">
            <ng-container *ngIf="usuario.nombre !== username">
                <app-card-usuario [usuario]="usuario" [username]="username"></app-card-usuario>
            </ng-container>
        </ng-container>
    </div>
</div>
