<div class="container mt-3">
    <div class="input-group mb-3">
      <input type="text" class="form-control" [placeholder]="'buscadorUsuarios' | translate" aria-label="Buscar usuarios" aria-describedby="button-addon2" [formControl]="nombreControl">
    </div>
    
    <div class="row row-cols-md-5 justify-content-center">
      <div *ngFor="let usuario of usuarios" class="card-container">
          <app-card-usuario [usuario]="usuario" [username]="username"></app-card-usuario>
      </div>
    </div>
  </div>
