<!-- Sirve para elegir entre buscar películas o usuarios -->
<div *ngIf="!isLoading; else loading" [@fadeIn] [ngClass]="{'fade-in': true, 'show': !isLoading}" class="container mt-3">

    <ul class="nav nav-underline justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" (click)="searchType = 'pelicula'" id="pelicula-tab" data-bs-toggle="tab" data-bs-target="#pelicula" type="button" role="tab" aria-controls="pelicula" aria-selected="true">Películas</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" (click)="searchType = 'usuario'" id="usuario-tab" data-bs-toggle="tab" data-bs-target="#usuario" type="button" role="tab" aria-controls="usuario" aria-selected="true">Usuarios</button>
        </li>
    </ul>
    <br>

    <app-buscador *ngIf="searchType === 'pelicula'"></app-buscador>
    <app-social *ngIf="searchType === 'usuario'"></app-social>
</div>

<ng-template #loading>
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
      <div class="spinner-grow" role="status">
        <!--<span class="sr-only">Loading...</span>-->
      </div>
    </div>
  </ng-template>