.card {
  height: auto;
  min-width: 40%;
  max-width: 100%;
  margin-right: 0;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  flex: 0 0 auto;
}
.card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 1.25rem;
  position: absolute;
}

.embed-responsive .card-img-top {
  object-fit: cover;
}

.tooltip-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.tooltip-title .card-title {
  margin: 0;
}

.tooltip-title:hover .tooltiptext {
  visibility: visible;
}

.tooltip-title .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 576px) {
  .card .card-body {
    margin-bottom: 0.3rem;
    margin-top: 0.1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-bottom: 0.2rem;
    padding-top: 0.1rem;
  }
  .tooltip-title,
  .tooltip-text,
  .card-text {
    font-size: 0.6rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .tooltip-title,
  .tooltip-text,
  .card-text {
    font-size: 0.7rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
}

@media (min-width: 992px) {
}
