<div class="container mt-3">

    <div *ngIf="!isLoading; else loading" [@fadeIn] (@fadeIn.done)="onFadeInDone()">
        <div class="profile-card bg-black">
            <div class="profile-header d-flex align-items-center">
                <img [src]="'http://192.168.1.29:8080/uploads/' + datos.perfil" alt="" class="profile-image" [style.borderColor]="datos.color">
                <div class="profile-info">
                    <h3 *ngIf="datos.apodo; else nombreTemplate">
                        {{datos.apodo}} <i *ngIf="datos.rango" class="bi bi-patch-check-fill" [ngStyle]="{'color': getColor(datos.rango)}"></i>
                    </h3>
                    <ng-template #nombreTemplate>
                        <h3>&#64;{{datos.nombre}} <i *ngIf="datos.rango" class="bi bi-patch-check-fill" [ngStyle]="{'color': getColor(datos.rango)}"></i></h3>
                    </ng-template>
                    <p class="nombre" *ngIf="datos.apodo">&#64;{{datos.nombre}}</p>
                    <p>{{datos.bio}}</p>
                </div>
            </div>
            <p class="profile-stats">
                {{datos.vistas}} {{'perfilMoviesWatched' | translate}}
                &nbsp;|&nbsp;
                {{datos.vistasYear}} {{'perfilThisYear' | translate}}
                &nbsp;|&nbsp;
                <a id="seguidores" [routerLink]="['/about', username, 'followers']">{{datos.seguidores}} {{'perfilFollowers' | translate}}</a>
                &nbsp;|&nbsp;
                <a id="seguidos" [routerLink]="['/about', username, 'following']">{{datos.seguidos}} {{'perfilFollowing' | translate}}</a>
            </p>
        </div>
        <ul class="nav nav-underline justify-content-center" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="actividad-tab" data-bs-toggle="tab" href="#actividad" role="tab" aria-controls="actividad" aria-selected="true">{{'tabsRecentActivity' | translate}}</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="resenas-tab" data-bs-toggle="tab" href="#resenas" role="tab" aria-controls="resenas" aria-selected="false">{{'tabsReviews' | translate}}</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="diario-tab" data-bs-toggle="tab" href="#diario" role="tab" aria-controls="diario" aria-selected="false">{{'tabsDiary' | translate}}</a>
            </li>
          </ul>
        <div class="tab-content m-2" id="myTabContent">
            <div class="tab-pane fade show active" id="actividad" role="tabpanel" aria-labelledby="actividad-tab">
                <div class="d-flex flex-wrap justify-content-center" *ngIf="fadeInDone" [@listAnimation]="actividadReciente.length">
                    <div  *ngFor="let resena of actividadReciente" class="card-container" >
                        <app-card-review-lastactivity [resena]="resena"></app-card-review-lastactivity>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="resenas" role="tabpanel" aria-labelledby="resenas-tab">
                <div class="d-flex justify-content-center">
                    <ul class="list-unstyled">
                        <li *ngFor="let resena of resenasUsuario" class="text-center">
                            <a id="resena" [routerLink]="['/reviewed', resena.nomUsuario.nombre, resena.idPelicula.id]">{{resena.idPelicula.titulo}}</a> ({{resena.idPelicula.year}})
                            <span *ngFor="let i of [1, 2, 3, 4, 5]">
                                <i *ngIf="resena.calificacion % 1 == 0" class="text-warning bi" [ngClass]="{'bi-star-fill': i <= resena.calificacion}"></i>
                                <i *ngIf="resena.calificacion % 1 != 0" class="text-warning" [ngClass]="{'bi-star-fill': i <= resena.calificacion}"></i>
                                <span *ngIf="resena.calificacion % 1 != 0 && i == (resena.calificacion - resena.calificacion % 1) + 1" class="text-warning fs-5 fw-bold">&#189;</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="diario" role="tabpanel" aria-labelledby="diario-tab">
                <app-diario [username]="username"></app-diario>
            </div>
        </div>
       
    </div>
</div>

<ng-template #loading>
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
      <div class="spinner-grow" role="status">
        <!--<span class="sr-only">Loading...</span>-->
      </div>
    </div>
  </ng-template>
