a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(189, 189, 189);
}

#resena {
  text-decoration: none;
  color: rgb(186, 186, 186);
}

#resena:hover {
  color: orange;
}

i {
  text-shadow: 0 0 2px black;
}
i.bi-star-fill {
  font-size: 1.25rem;
  margin-right: 0.25rem;
}

.nav-link {
  color: #adb5bd;
  transition: color 0.3s ease-in-out;
}

.nav-link.active {
  color: #0d6efd;
}

.nav-link:hover {
  color: #6610f2;
}

.btn {
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
}

.bi-patch-check-fill {
  color: #4caf50;
}

.card-container {
  flex: 0 1 100%;
  max-width: 100%;
  margin: 0.5rem;
}

@media (max-width: 576px) {
  .card-container {
    flex: 0 1 calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .card-container {
    flex: 0 1 calc(25% - 1rem); /* Cuatro tarjetas por fila en dispositivos pequeños */
    max-width: calc(25% - 1rem);
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .card-container {
    flex: 0 1 calc(25% - 1rem);
    max-width: calc(25% - 1rem);
  }
}

@media (min-width: 992px) {
  .card-container {
    flex: 0 1 calc(25% - 1rem);
    max-width: calc(25% - 1rem);
  }
}
