<!-- Navbar mejorada, aún queda mejorar el apartado de perfil -->
<nav class="navbar sticky-top bg-dark navbar-expand-lg" data-bs-theme="dark" style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ReelMe</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a *ngIf="!(isLoggedIn | async)" class="nav-link" aria-current="home" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a *ngIf="(isLoggedIn | async)" [routerLink]="['/profile', currentUsername | async]" class="nav-link">Inicio</a>
          </li>
          <li class="nav-item">
            <a *ngIf="!(isLoggedIn | async)" routerLink="query" class="nav-link">Buscar</a>
          </li>
          <li class="nav-item">
            <a *ngIf="(isLoggedIn | async)" routerLink="search" class="nav-link">Buscar</a>
          </li>
          <!--<li class="nav-item">
            <a *ngIf="!(isLoggedIn | async)" routerLink="register" class="nav-link">Registrarse</a>
          </li>-->
          <li class="nav-item">
            <a *ngIf="!(isLoggedIn | async)" routerLink="login"  class="nav-link">Iniciar sesión</a>
          </li>
          
          <li class="nav-item">
            <a *ngIf="(isLoggedIn | async)" [routerLink]="['/journal', currentUsername | async]" class="nav-link">Diario</a>
          </li>
          <li class="nav-item">
            <a *ngIf="(isLoggedIn | async)" routerLink="settings" class="nav-link">Ajustes</a>
          </li>
          <li class="nav-item">
            <a *ngIf="(isLoggedIn | async)" [routerLink]="['/about', currentUsername | async]" class="nav-link">Perfil</a>
          </li>
          <li class="nav-item">
            <a *ngIf="(isLoggedIn | async)" (click)="logout()" class="nav-link">Cerrar sesión</a>
          </li>
        </ul>
        <div class="d-flex" *ngIf="(isLoggedIn | async)">
          <a routerLink="/settings" class="nav-link">
              <img [src]="'http://localhost:8080/uploads/PruebaPerfil.jpg'" alt="" height="30px" width="30px" class="rounded-circle">
          </a>
        </div>
      </div>
    </div>
  </nav>
