<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h5 class="mb-3 text-center">Iniciar sesión</h5>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-group">
        <div class="mb-3">
          <label for="nombre" class="form-label">Usuario o Email</label>
          <input type="text" formControlName="nombre" class="form-control" id="nombre" placeholder="Usuario/Email" required>
          <div *ngIf="loginForm.get('nombre')?.touched && loginForm.get('nombre')?.hasError('required')" class="text-danger">
            Por favor, introduce tu usuario o email.
          </div>
          <div *ngIf="loginForm.get('nombre')?.hasError('exists')" class="text-danger">
            Usuario no encontrado.
          </div>
        </div>
        <div class="mb-3">
          <label for="pword" class="form-label">Contraseña</label>
          <input type="password" formControlName="pword" class="form-control" id="pword" placeholder="Contraseña" required>
          <div *ngIf="loginForm.get('pword')?.touched && loginForm.get('pword')?.hasError('required')" class="text-danger">
            Por favor, introduce tu contraseña.
          </div>
          <div *ngIf="loginForm.get('pword')?.hasError('incorrect')" class="text-danger">
            Contraseña incorrecta.
          </div>
        </div>
        <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
      </form>
    </div>
  </div>
</div>
