i {
  margin-right: 5px;
}

img {
  max-width: 100%;
}

#encabezado {
  border-bottom: 1px solid #ffffff;
}

img:hover {
  border: 2px solid white;
  transition: border 0.3s ease;
}

a {
  text-decoration: none;
}

#usuario {
  color: rgb(5, 225, 5);
}

#usuario:hover {
  color: white;
  transition: color 0.3s ease;
}

#comentarioRevisionado {
  max-width: 80%;
  margin-top: -0.25rem;
}

.alert {
  display: flex;
  align-items: center;
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.alert:hover {
  background-color: #ffeeba;
}

.alert .bi-exclamation-triangle {
  margin-right: 0.5rem;
}

.spoiler-revealed {
  background-color: none;
  color: white;
  animation: fadeIn 0.5s;
}

/* Mejoras de estilo para el botón y el modal en móviles */
.btn-danger {
  background-color: #dc3545;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-danger:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

/* Estilo para el modal centrado */
.modal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  border-radius: 8px;
  padding: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
