<div class="container mt-3">
    <div class="row">
        <td class="col-3">
            <img src="{{resena.foto}}" class="rounded card-img-top img-fluid" style="max-width: 100%;" routerLink="/details/{{id}}">
        </td>
        <td class="col-6">
            <h6 style="border-bottom: 1px solid #ffffff;">Reseña de <a [routerLink]="['/about', resena.usuario]" style="text-decoration: none;" id="usuario">{{resena.usuario}}</a></h6>
            <h4>
                {{resena.titulo}} ({{resena.year}}) <span *ngFor="let i of [1, 2, 3, 4, 5]">
                    <i *ngIf="resena.calificacion % 1 == 0" class="text-warning bi" [ngClass]="{'bi-star-fill': i <= resena.calificacion}"></i>
                    <i *ngIf="resena.calificacion % 1 != 0" class="text-warning" [ngClass]="{'bi-star-fill': i <= resena.calificacion}"></i>
                    <span *ngIf="resena.calificacion % 1 != 0 && i == (resena.calificacion - resena.calificacion % 1) + 1" class="text-warning fs-4 fw-bold">&#189;</span>
                </span>
            </h4>
            <p *ngIf="resena.comentario != null">{{resena.comentario}}</p>
        </td>
    </div>
</div>
