a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(189, 189, 189);
}

i {
  text-shadow: 0 0 2px black;
}
i.bi-star-fill {
  font-size: 1.25rem;
  margin-right: 0.25rem;
}

i.bi-heart-fill {
  color: rgb(195, 57, 57);
}

.apodo {
  margin-bottom: 0;
}

.nombre {
  margin-top: 0;
}

.nav-link.active {
  color: white;
}

.card-container {
  flex: 0 1 100%;
  max-width: 100%;
  margin: 0.5rem;
}

.card {
  height: auto;
  min-width: 40%;
  max-width: 100%;
  margin-right: 0;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  flex: 0 0 auto;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 1.25rem;
}

.embed-responsive .card-img-top {
  object-fit: cover;
}

.rating {
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  align-items: center;
}

.rating .bi {
  font-size: 1.5rem;
}

.actions .bi {
  font-size: 1.5rem;
}

.actions .bi:hover {
  cursor: pointer;
}

.tooltip-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 1.2rem;
}

.tooltip-title .card-title {
  margin: 0;
}

.tooltip-title:hover .tooltiptext {
  visibility: visible;
}

.tooltip-title .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 576px) {
  .card-container {
    flex: 0 1 calc(25% - 1rem);
    max-width: calc(25% - 1rem);
  }

  .card .card-body {
    margin-bottom: 0.3rem;
    margin-top: 0px;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    padding-bottom: 0.2rem;
    padding-top: 0px;
  }
  .card-title {
    display: none;
    padding: 0px;
    margin: 0px;
  }
  .rating .bi,
  .rating span,
  .actions .bi {
    font-size: 0.45rem;
  }

  .username {
    font-size: 0.62rem;
    margin-top: 0;
    padding-top: 0;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .card-container {
    flex: 0 1 calc(25% - 1rem);
    max-width: calc(25% - 1rem);
  }
  .card-title {
    display: none;
  }

  .username {
    font-size: 0.5rem;
  }

  .rating .bi,
  .actions .bi {
    font-size: 0.75rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .card-container {
    flex: 0 1 calc(25% - 1rem);
  }
  .username,
  .rating .bi,
  .actions .bi {
    font-size: 0.8rem;
  }
}

@media (min-width: 992px) {
  .card-container {
    flex: 0 1 calc(25% - 1rem);
    max-width: calc(25% - 1rem);
  }
  .username {
    font-size: 1.5rem;
  }
}
