<!-- 
    Por ahora se muestran como tarjetas, pero se podría cambiar a lista como muchas redes sociales.
-->
<div class="container">
    <h4>Seguidores de {{username}}</h4>
    <div class="row row-cols-md-5">
        <ng-container *ngFor="let seguidor of seguidores">
            <ng-container *ngIf="seguidor.nombreUsuario.nombre !== username">
                <app-card-usuario [usuario]="seguidor.nombreUsuario" [username]="currentUser"></app-card-usuario>
            </ng-container>
        </ng-container>
    </div>
</div>
