<!-- Placeholder card -->
<div class="card text-center bg-secondary text-white mb-2 mr-2 rounded" *ngIf="!isLoaded">
  <div class="embed-responsive">
    <div class="card-img-top img-fluid placeholder"></div>
  </div>
  <div class="card-body">
    <h4 class="card-text">Loading...</h4>
    <p class="card-text year">...</p>
  </div>
</div>

<!-- Actual card -->
<div class="card text-center bg-success text-white mb-2 mr-2 rounded" *ngIf="isLoaded">
  <div class="embed-responsive">
    <a>
      <img src="{{peli.Poster}}" class="card-img-top img-fluid" routerLink="/details/{{peli.imdbID}}">
    </a>
  </div>
  <div class="card-body">
    <div class="tooltip-title">
      <h4 class="card-text tooltip-title">{{peli.Title}}</h4>
      <span class="tooltiptext">{{peli.Title}}</span>
    </div>
    <p class="card-text year">{{peli.Year}}</p>
  </div>
</div>
