<div [@fadeIn] [ngClass]="{'fade-in': true, 'show': !isLoading}" class="card text-center bg-success text-white mb-2 mr-2 rounded" *ngIf="!isLoading; else loading">
  <div class="embed-responsive">
    <a>
      <img src="{{peli.Poster}}" class="card-img-top img-fluid" routerLink="/details/{{peli.imdbID}}">
    </a>
  </div>
  <div class="card-body">
    <div class="tooltip-title">
      <h4 class="card-text tooltip-title">{{peli.Title}}</h4>
      <span class="tooltiptext">{{peli.Title}}</span>
    </div>
    <p class="card-text year">{{peli.Year}}</p>
  </div>
</div>

<ng-template #loading>
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="spinner-grow" role="status">
      <!--<span class="sr-only">Loading...</span>-->
    </div>
  </div>
</ng-template>

