i {
  color: white;
}

/*i:hover {
  color: rgb(189, 189, 189);
}*/

.bi-star-fill {
  color: orange;
}

.bi-heart-fill {
  color: rgb(195, 57, 57);
}

.bi-heart {
  color: rgb(195, 57, 57);
}

.bi-exclamation-octagon,
.bi-exclamation-octagon-fill {
  color: rgb(210, 119, 210);
}

#gustado,
#spoiler,
#estrella:focus {
  outline: none !important;
  box-shadow: none !important;
}

#gustado,
#estrella,
#spoiler {
  border: none;
}

.alert-success {
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 15px;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

img {
  max-width: 100%;
}
