<div class="row">
  <div class="col-md-6">
   
    <form [formGroup]="pwordForm" (ngSubmit)="setNewPword()">
      <div class="mb-3">
        <label for="pword" class="form-label">{{ 'ajustesCambiarPwordActual' | translate }}</label>
        <input
          type="password"
          formControlName="pword"
          class="form-control"
          id="pword"
          [placeholder]="'ajustesCambiarPwordPlaceholderActual' | translate"
          required
        />
        <div *ngIf="pwordForm.get('pword')?.touched && pwordForm.get('pword')?.hasError('required')" class="text-danger">
          {{ 'ajustesCambiarPwordRequiredActual' | translate }}
        </div>
      </div>
      <div class="mb-3">
        <label for="pword2" class="form-label">{{ 'ajustesCambiarPwordNueva' | translate }}</label>
        <input
          type="password"
          formControlName="pword2"
          class="form-control"
          id="pword2"
          [placeholder]="'ajustesCambiarPwordPlaceholderNueva' | translate"
          required
        />
        <div *ngIf="pwordForm.get('pword2')?.touched && pwordForm.get('pword2')?.hasError('required')" class="text-danger">
          {{ 'ajustesCambiarPwordRequiredNueva' | translate }}
        </div>
      </div>
      <button type="submit" class="btn btn-primary w-100" [disabled]="pwordForm.invalid">
        {{ 'ajustesCambiarPwordBoton' | translate }}
      </button>
      
    </form>
    <div *ngIf="exito" class="alert alert-success mt-3" role="alert">
      {{'ajustesCambiarPwordExito' | translate}}
    </div>
    <div *ngIf="hayError" class="alert alert-danger mt-3" role="alert">
      {{'ajustesCambiarPwordError' | translate}}
    </div>
  </div>
</div>
