#contenedor-principal {
  position: relative;
  overflow: visible; /* Asegúrate de que el contenedor permita el desplazamiento */
}

#backdrop {
  position: relative;
  overflow: hidden;
  margin-top: -16px;
  margin-bottom: -190px;
}

.blur-edge {
  position: relative;
}

.blur-edge::before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: inherit;
  filter: blur(20px);
  z-index: 2;
}

.blur-edge::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 30%, #212529 100%),
    /* Abajo */ linear-gradient(to top, transparent 30%, #212529 100%),
    /* Arriba */ linear-gradient(to left, transparent 30%, #212529 100%),
    /* Izquierda */ linear-gradient(to right, transparent 30%, #212529 100%); /* Derecha */
  z-index: 3;
}

.backdrop-image {
  position: relative;
  z-index: 1;
}

#izq,
#centro,
#dcha {
  z-index: 4;
}

#izq,
#dcha {
  position: sticky;
  top: 5rem;
  align-self: flex-start;
  height: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.watch-providers {
  background-color: #198754;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.watch-providers h5 {
  font-size: 18px; /* Tamaño de fuente reducido */
  margin-bottom: 10px;
}

.watch-providers ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.watch-providers li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 10px;
}

.watch-providers img {
  margin-right: 15px;
  width: 30px; /* Tamaño de icono reducido */
  height: 30px; /* Tamaño de icono reducido */
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.watch-providers img:hover {
  transform: scale(1.1);
}

.watch-providers .provider-name {
  font-size: 10px; /* Tamaño de fuente reducido */
  font-weight: bold;
}

.watch-providers .provider-type {
  color: #666666;
  font-size: 10px; /* Tamaño de fuente reducido */
}

.nav-link {
  color: white;
}

.nav-link:active {
  color: black;
}

#seguidoResena:hover {
  box-shadow: 0 0 5px white;
}

#resenaUsuario {
  color: rgb(186, 186, 186);
  text-decoration: none;
}
#resenaUsuario:hover {
  color: orange;
}

#usuario {
  text-decoration: none;
  color: white;
}

#usuario:hover {
  color: rgb(5, 225, 5);
}

i {
  text-shadow: 0 0 2px black;
}

i.bi-heart-fill,
i.bi-heart {
  color: rgb(195, 57, 57);
}

.img-fluid {
  max-width: 100%;
}

#contenedorTrailer {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

li {
  list-style-type: none;
}

#lineaDivisoria {
  border-bottom: 1px solid #ffffff;
  margin-bottom: 10px;
}

.resenaContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.resenaContainer img {
  margin-right: 10px;
}

.resena-usuario-link {
  margin-right: 5px;
}

.usuario-link {
  margin-right: 5px;
}

.estrellas {
  margin-right: 8px;
}

#perfilUsuario {
  border: 2px solid;
}

#alertaSpoiler {
  cursor: pointer;
}

#contenedorStats {
  display: flex;
  align-items: center;
}

.chartContainer {
  height: 20vh;
  width: 13vw;
}

#puntuacionMedia {
  margin-left: 20px;
}

.comentario-container {
  width: 100%;
}

.comentario {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
}

.alert {
  display: flex;
  align-items: center;
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
  padding: 10px;
  border-radius: 5px;
}

.alert .bi-exclamation-triangle {
  margin-right: 0.5rem;
}

#loading {
  height: 100vh;
}

.tooltip-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
