<div *ngIf="!isLoading; else loading" [@fadeIn] class="container mt-3">
  <div class="row" id="contenedor-principal">
    <div id="backdrop" class="col-12">
      <div class="blur-edge">
        <img [src]="'https://image.tmdb.org/t/p/original' + (peliculaTMDB$ | async)?.backdrop_path" class="img-fluid backdrop-image" alt="">
      </div>
    </div>
    <div class="col-3 d-none d-md-block" id="izq">
      <img src="{{(pelicula$ | async)?.Poster}}" class="rounded card-img-top img-fluid">
      <!-- <p class="text-center"><i class="bi bi-eye-fill text-info"></i> {{resenas.length}}  <i class="bi bi-heart-fill text-danger"></i> {{getGustados()}}</p>-->
    </div>
    <div class="col-12 col-md-6" id="centro">
      <dl>
        <dt><h2 class="text-success fw-bold">{{(peliculaTMDB$ | async)?.title}} <span class="fw-lighter">({{(pelicula$ | async)?.Year}})</span></h2>
          <h4> {{'detallesDirigida' | translate}} {{(pelicula$ | async)?.Director}}</h4>
        </dt>
      </dl>
      <dl>
        <dd>{{(pelicula$ | async)?.Runtime}}</dd>
      </dl>
      <dl>
        <h5 class="uppercase fst-italic">{{(peliculaTMDB$ | async)?.tagline}}</h5>
        <dd>{{(peliculaTMDB$ | async)?.overview}}</dd>
      </dl>
      <dl>
        <div id="contenedorTrailer">
           <iframe [src]="trailerUrl" frameborder="0"></iframe>
        </div>
      </dl>
  
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active text-decoration-none" id="generos-tab" data-bs-toggle="tab" data-bs-target="#generos" type="button" role="tab" aria-controls="generos" aria-selected="true">{{'detallesTabsGeneros' | translate}}</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link text-decoration-none" id="reparto-tab" data-bs-toggle="tab" data-bs-target="#reparto" type="button" role="tab" aria-controls="reparto" aria-selected="false">{{'detallesTabsReparto' | translate}}</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link text-decoration-none" id="pais-tab" data-bs-toggle="tab" data-bs-target="#pais" type="button" role="tab" aria-controls="pais" aria-selected="false">{{'detallesTabsPaises' | translate}}</button>
        </li>
      </ul>
      <div class="tab-content mt-2" id="myTabContent">
        <div class="tab-pane fade show active" id="generos" role="tabpanel" aria-labelledby="generos-tab">
          <ul class="list-group">
            <li *ngFor="let genero of (pelicula$ | async)?.Genre.split(', ')"><span class="badge text-bg-secondary">{{genero}}</span></li>
          </ul>
        </div>
        <div class="tab-pane fade" id="reparto" role="tabpanel" aria-labelledby="reparto-tab">
          <ul class="list-group">
            <li *ngFor="let actor of (pelicula$ | async)?.Actors.split(', ')"><span class="badge text-bg-secondary">{{actor}}</span></li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pais" role="tabpanel" aria-labelledby="pais-tab">
          <ul class="list-group">
            <li  *ngFor="let pais of (pelicula$ | async)?.Country.split(', ')"><span class="badge text-bg-secondary">{{pais}}</span></li>
          </ul>
        </div>
      </div>

      <app-detalles-usuario [calificacion]="calificacion" [idPelicula]="(pelicula$ | async)?.imdbID" [currentUsername]="currentUsername" [perfil]="perfil"></app-detalles-usuario>
      
      <div class="mt-3" *ngIf="(peliculaTMDB$ | async)?.belongs_to_collection != null">
        <dt id="lineaDivisoria">Otras películas de la saga</dt>
        <div style="display: flex; flex-wrap: wrap; gap: 10px; justify-content: space-around;">
          <div *ngFor="let peli of (sagaTMDB$ | async)" style="flex: 0 1 calc(33.333% - 20px);">
            <img [src]="'https://image.tmdb.org/t/p/w154' + peli.poster_path" 
                 [ngClass]="{'peliActual': peli.id === (peliculaTMDB$ | async)?.id}" 
                 alt="" 
                 style="width: 100%;">
          </div>
        </div>
      </div>

      <dl class="mt-3" *ngIf="resenasSeguidos.length > 0">
        <dt id="lineaDivisoria">{{'detallesSeguidos' | translate}}</dt>
        <dd class="d-flex flex-row flex-wrap">
          <ng-container *ngFor="let resena of resenasSeguidos">
            <app-detalles-reviewed-seguido [resena]="resena" [idPeli]="(pelicula$ | async)?.imdbID"></app-detalles-reviewed-seguido>
          </ng-container>
        </dd>
        
      </dl>

      <app-detalles-reviewed [resenas]="resenas" [idPeli]="(pelicula$ | async)?.imdbID"></app-detalles-reviewed>
      
    </div>
    <div class="col-12 col-md-3" id="dcha">
      <dt id="lineaDivisoria">{{'detallesEstadisticas' | translate}}</dt>
      <div id="contenedorStats" class="container mb-2" style="display: flex; align-items: center;">
        <div echarts [options]="chartOptions" class="chart-container" style="height:20vh; width:13vw;"></div>
        <h4 style="margin-left: 20px">{{puntuacionMedia}}</h4>
      </div>
      <div class="container d-none d-md-flex">
        <dl>
          <dd><i class="bi bi-eye-fill text-info"></i> {{'detallesEstadisticasVistaPor' | translate}} {{resenas.length}} {{'detallesEstadisticasUsuarios' | translate}}</dd>
          <dd><i class="bi bi-heart-fill text-info"></i> {{'detallesEstadisticasLeGusta' | translate}} {{getGustados()}} {{'detallesEstadisticasUsuarios' | translate}} </dd>
          <!-- <dd *ngIf="(pelicula$ | async)?.Awards.startsWith('Won')"><i class="bi bi-award-fill text-info"></i> {{(pelicula$ | async)?.Awards.substring(0, (pelicula$ | async)?.Awards.indexOf('Oscars') + 'Oscars'.length)}}</dd>-->
          <dd><i class="bi bi-coin text-info"></i> {{(pelicula$ | async)?.BoxOffice}} {{'detallesEstadisticasRecaudacion' | translate}}</dd>
        </dl>
      </div>
      <div class="d-flex d-md-none card-container">
        <div class="card tarjetaEstadisticasMovil text-bg-success">
          <i class="bi bi-eye-fill icon-large"></i>
          <span class="text-large">{{resenas.length}}</span>
          <span>{{'detallesEstadisticasUsuarios' | translate}}</span>
        </div>
        <div class="card tarjetaEstadisticasMovil text-bg-danger">
          <i class="bi bi-heart-fill text-white icon-large"></i>
          <span class="text-large">{{getGustados()}}</span>
          <span>{{'detallesEstadisticasUsuarios' | translate}}</span>
        </div>
      </div>
      <div *ngIf="servicios" class="card text-bg-success mb-2 d-none d-md-block">
        <div class="card-header">{{'detallesEstadisticasPlataformas' | translate}}</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let servicio of servicios.flatrate">
            <img class="rounded" [src]="'https://image.tmdb.org/t/p/w45' + servicio.logo_path" alt="{{servicio.provider_name}}">
             {{servicio.provider_name}}
          </li>
        </ul>
      </div>
      
      <div *ngIf="servicios" class="serviciosMovil d-block d-md-none">
        <span>{{'detallesEstadisticasPlataformas' | translate}}</span>
        <span class="iconosServiciosMovil" *ngFor="let servicio of servicios.flatrate">
          <img class="rounded servicioMovil" [src]="'https://image.tmdb.org/t/p/w45' + servicio.logo_path" alt="{{servicio.provider_name}}">
        </span>
      </div>
    </div>
    
  </div>
    
</div>

<ng-template #loading>
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="spinner-grow" role="status">
      <!--<span class="sr-only">Loading...</span>-->
    </div>
  </div>
</ng-template>
