<div *ngIf="!isLoading; else loading" [@fadeIn] [ngClass]="{'fade-in': true, 'show': !isLoading}" class="container mt-3">
  <table class="table table-dark">
      <ng-container *ngFor="let monthYear of reviews | keys; let i = index">
        <thead>
          <tr>
            <th><h2>{{ monthYear | date: 'MMMM yyyy' }}</h2><button *ngIf="i === 0" class="btn btn-secondary-outline btn-md toggle-sort-button" (click)="toggleSortOrder()">
              <i class="bi" [ngClass]="{'bi-sort-down': sortOrder === 'asc', 'bi-sort-up': sortOrder === 'desc'}"></i>
            </button></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let review of reviews[monthYear] | orderBy: 'fecha':sortOrder">
            <td>
              <app-card-review [review]="review" [peli]="peliculas[review.idPelicula.id]" [usuarioRuta]="username"></app-card-review>
            </td>
          </tr>
        </tbody>
      </ng-container>      
  </table>
</div>
<ng-template #loading>
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="spinner-grow" role="status">
      <!--<span class="sr-only">Loading...</span>-->
    </div>
  </div>
</ng-template>
