  <div *ngIf="username == ''" [@fadeIn] class="container mt-3">
    <!--Landing page antes de iniciar sesión/registrarse-->
    <h3 class="welcome-title">{{'homeTitulo' | translate}}</h3>
    <p class="welcome-text">
        {{'homeBienvenida' | translate}}
    </p>
    <app-home-carousel></app-home-carousel>
    <h2 class="mt-5">{{'homeVistazo' | translate}}</h2>
    <div class="mb-3">
      <h5>{{'masPopulares' | translate}}</h5>
    </div>
    <!--Se muestran las películas más populares como parte de la landing page.-->
    <div class="d-flex flex-wrap justify-content-start" *ngIf="fadeInDone" [@listAnimation]="top4Peliculas.length">
      <div *ngFor="let pelicula of top4Peliculas" class="card-container">
        <app-card-peli-bd [peli]="pelicula"></app-card-peli-bd>
      </div>
    </div>
    <h2 class="mt-5">{{'homeOpiniones' | translate}}</h2>
    <app-home-opiniones></app-home-opiniones>
  </div>
  
  <div *ngIf="!isLoading; else loading" [@fadeIn] (@fadeIn.done)="onFadeInDone()">
    <!--Muestra la última película vista de cada cuenta que sigue el usuario.-->
    <div *ngIf="username != ''" class="container mt-3" >
      <div class="mb-3">
        <h5 id="actividadReciente">{{ 'actividadReciente' | translate}}</h5>
        <h6 id="mostrar" *ngIf="seguidos.length > 4" (click)="toggleShowAll()" class="text-warning">
          {{ showAll ? ('mostrarMenos' | translate) : ('verTodos' | translate) }}
        </h6>
      </div>
      <!--Si el usuario no sigue ninguna cuenta, muestra una alerta.-->
      <div *ngIf="seguidos.length === 0" class="alert alert-info" role="alert">
        {{'homeSinSeguir' | translate}}
      </div>
      <div class="d-flex flex-wrap justify-content-start" *ngIf="fadeInDone && seguidos.length > 0" [@listAnimation]="visibleSeguidos.length">
        <div *ngFor="let seguido of visibleSeguidos" class="card-container">
            <app-card-review-seguido [seguido]="seguido"></app-card-review-seguido>
        </div>
      </div>

      <div class="mb-3">
        <h5 >{{'masPopulares' | translate}}</h5>
      </div>
      <!--Muestra las 4 películas más populares.-->
      <div class="d-flex flex-wrap justify-content-start" *ngIf="fadeInDone" [@listAnimation]="top4Peliculas.length">
        <div *ngFor="let pelicula of top4Peliculas" class="card-container">
          <app-card-peli-bd [peli]="pelicula"></app-card-peli-bd>
        </div>
      </div>
      <!--Se pueden añadir más secciones tras crearlas en el backend.-->
    </div>
</div>
<ng-template #loading>
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="spinner-grow" role="status">
      <!--<span class="sr-only">Loading...</span>-->
    </div>
  </div>
</ng-template>

