<!--
    La idea para este componente es que se muestre una landing page para usuarios no registrados y una página de inicio para usuarios registrados.
-->
<div *ngIf="username == ''" class="container mt-3">
    <h3>Te damos la bienvenida a ReelMe</h3>
    <p>
        En ReelMe podrás llevar un seguimiento de las películas que ves y reseñarlas.
        Sigue a tus amigos para descubrir nuevos horizontes.
    </p>
</div>

<div *ngIf="username != ''" class="container mt-3">
  <div class="mb-3" style="display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #ffffff;">
    <h5 >Actividad reciente de las cuentas que sigues</h5>
    <h6 *ngIf="seguidos.length > 4" (click)="toggleShowAll()" class="text-primary" style="cursor: pointer; margin-bottom: 0;">
      {{ showAll ? 'Mostrar menos' : 'Ver todos' }}
    </h6>
  </div>
  <div class="d-flex flex-wrap justify-content-start">
    <div *ngFor="let seguido of visibleSeguidos" class="card-container">
        <app-card-review-seguido [seguido]="seguido"></app-card-review-seguido>
    </div>
</div>

</div>

