img:hover{
    box-shadow: 0 0 5px white;
}

.btn-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
  
.btn-green {
    background-color: green;
}
  
.btn-orange {
    background-color: orange;
}
  
.btn-purple {
    background-color: purple;
}

.btn-circle:disabled{
    opacity: 0.5;
}