<div class="container d-flex justify-content-center align-items-center">
  <img [src]="'http://localhost:8080/uploads/' + perfil" alt="" class="rounded-circle profile-img" data-bs-toggle="modal" data-bs-target="#perfilModal" [style.borderColor]="usuario.color">        
</div>

<div class="modal fade" id="perfilModal" tabindex="-1" aria-labelledby="perfilModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-light rounded shadow-lg p-3">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="perfilModalLabel">{{'ajustesFotoPerfilActualizar' | translate}}</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="image-selection-container">
                    <div *ngFor="let imagen of imagenesDisponibles; let i = index" class="image-container">
                        <img [src]="'http://localhost:8080/uploads/'+imagen" alt="Imagen {{i+1}}" class="img-fluid rounded selectable-image" [class.selected]="imagenSeleccionada === imagen" (click)="seleccionarImagen(imagen)">
                    </div>
                <span class="text-secondary-emphasis">{{'ajustesFotoPerfilProximamente' | translate}}</span>
                </div>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{'ajustesFotoPerfilCancelar' | translate}}</button>
                <button type="button" class="btn btn-primary" (click)="onUpload()">{{'ajustesFotoPerfilGuardar' | translate}}</button>
            </div>
        </div>
    </div>
  </div>
