<div class="d-flex justify-content-around">
    <button type="button" class="btn btn-circle btn-no-color" (click)="setColor('')"><i class="bi bi-slash-circle h3 text-white"></i></button>
      <button type="button" class="btn btn-circle btn-green" [disabled]="usuario.rango == null" (click)="setColor('green')"></button>
      <button type="button" class="btn btn-circle btn-orange" [disabled]="usuario.rango == 'BRONCE' || usuario.rango == null" (click)="setColor('orange')"></button>
      <button type="button" class="btn btn-circle btn-purple" [disabled]="usuario.rango != 'ORO' || usuario.rango == null" (click)="setColor('purple')"></button>
  </div>
