.progress-container {
  width: 100%;
  margin: auto;
  padding: 20px;
  text-align: center;
  color: #adb5bd;
}

.progress {
  background-color: #343a40;
  border: 1px solid #495057;
  border-radius: 0.25rem;
  overflow: hidden;
  height: 1.5rem;
  position: relative;
  margin-bottom: 1rem;
}

.progress-bar {
  background: linear-gradient(90deg, #0d6efd, #6610f2);
  height: 100%;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  line-height: 1.5rem;
  transition: width 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-info {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-progress,
.total-progress {
  font-weight: bold;
  font-size: 1.25rem;
}

.current-progress {
  color: #0d6efd;
}

.total-progress {
  color: #6610f2;
}
